.post-preview > a {
  color: #212529;
}

.post-preview > a:focus,
.post-preview > a:hover {
  color: #0085a1;
}

.post-preview > img {
  width: 38em;
}

.post-preview > a > h2 {
  font-size: 2rem;
  margin-bottom: 0.625rem;
}
